[submodule "microros_ws/libs/micropython"]
	path = microros_ws/libs/micropython
	url = https://github.com/micropython/micropython.git
[submodule "microros_ws/libs/micropython-wrap"]
	path = microros_ws/libs/micropython-wrap
	url = https://github.com/stinos/micropython-wrap.git
